.btn{
    padding: 15px;
    margin: 1px solid black;
    border-radius: 4px;
    background-color: rgb(52, 8, 58);
    display: block;
    margin: auto;
    text-align: center;
    box-shadow: insert 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;
    font-size:2rem;
    outline:none;
}
.btn:hover{
 box-shadow: insert 300px 0 0 0 #f9e506;
cursor:pointer;
color:#000;}
.wel{
    display: block;
    text-align: center;
    font-size: 120px;
    color: antiquewhite;
   animation: mover 6s linear infinite;
    font-weight:bolder; }

@keyframes mover{
0%{ text-shadow: 0 0 30px rgba(0,0,0,0);
    }
    50%{ text-shadow: 0 0 30px rgba(0,0,0,30);
    transform:translateX(30px);
    }
    100%{ text-shadow: 0 0 30px rgba(0,0,0,0);
    }
    
}
span:nth-child(1){animation-delay:0.5s
}
span:nth-child(2){animation-delay:1s
}
span:nth-child(3){animation-delay:1.5s
}
span:nth-child(4){animation-delay:2s
}
span:nth-child(5){animation-delay:2.5s
}
span:nth-child(6){animation-delay:3s
}
span:nth-child(7){animation-delay:3.5s
}
    
.logo{
    height: 450px;
    width: 450px;
    margin: auto;
    border: 2px solid rgb(11, 11, 11);
    border-radius: 8px;

}
.box{

    display: block;
    margin: auto;
    border: 5px solid black;
    height: auto;
    width: fit-content;
}
#button{
    padding: 10px;
    font-size: large;
    font-weight: bold;
}
.body{
    background-image: url(https://c.tenor.com/yu4yJBMcidMAAAAd/space.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
