body{
 background-image: url('https://media0.giphy.com/media/3og0IV7MOCfnm85iRa/giphy.gif?cid=ecf05e47qzdue93t5okagh06mvi7we5qxp0qbedu8e9oxup7&rid=giphy.gif&ct=g');
 background-size: cover;}
 h1{
    color: whitesmoke;
    font: sans-serif;
    display: block;
    margin: auto;
  font-size:200px;
 }
start{
  display: block;
    margin: auto;
}
logo{
    margin: auto;
}
box{

    display: block;
    margin: auto;
    border: 5px solid black;
    height: auto;
    width: fit-content;
}
button{
    padding: 10px;
    font-size: large;
    font-weight: bold;
}
